<div class="about row">
    <div class="col-md-12">
       <h2>关于我</h2>
        <br/>
        <p>一个程序员，喜欢跑马拉松，读书</p>

        <h2>交流</h2>

        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>我的微信公众号：<strong>JairusTse的日常</strong></li>
        </ul>

        <!-- <h2>
          我写博客的历史
        </h2>

        <p>最早大学在搜狐写博客，那时的搜狐还比较火。</p>
        <p>后来全部迁移到csdn，csdn的优点是容易被搜索到，缺点是广告太多。</p>
        <p>点击下面的链接可以去我的CSDN博客瞅瞅。</p>
        <p><a href="https://blog.csdn.net/pony_maggie">我的CSDN博客</a></p> -->

       <!-- <h2>
         打赏
       </h2>

       <p>本站所有文章和源码均免费开放，如果我的文章帮助或者触动了你，可以自愿打赏。
       </p>

       <p align="center">
         <img src="http://www.machengyu.net/assets/images/donate.jpg" />
         <br/> 
       </p> -->

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div> 

    </div>
</div>